    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
    /* variable css */
    /* 
--first-color: #cc4b2c;
--first-color-dark: #662616;
--first-color-darken: #290F09;
--TEXT-color: #54423D;
--first-color-light: #eae7e6;
--first-color-lighten: #fffafa; */
    
     :root {
        --header-height: 3rem;
        --nav-width: 324px;
        /* font weight */
        --font-medium: 500;
        --font-semi-bold: 500;
        --font-bold: 700;
        /* color */
        --first-color: #2c64cc;
        --first-color-dark: #161766;
        --first-color-darken: #0c0929;
        --TEXT-color: #413d54;
        --nav-color: #050505;
        --first-color-light: #eae7e6;
        --first-color-lighten: #fffafa;
        /* font and typography */
        --body-font: 'Poppins', sans-serif;
        --h1-font-size: 1.5rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1rem;
        --normal-font-size: .938rem;
        --small-font-size: .813rem;
        --smaller-font-size: .75rem;
        /* margenes  */
        --mb-1: .5rem;
        --mb-2: 1rem;
        --mb-3: 1.5rem;
        --mb-4: 2rem;
        --mb-5: 2.5rem;
        /* z index */
        --z-fixed: 100;
    }
    
    @media screen and (min-width: 768px) {
         :root {
            --h1-font-size: 2.25rem;
            --h2-font-size: 1.5rem;
            --h3-font-size: 1.25rem;
            --normal-font-size: 1rem;
            --small-font-size: .875rem;
            --smaller-font-size: .813rem;
        }
    }
    /* Base *, */
    
    *,
     ::before,
     ::after {
        box-sizing: border-box;
    }
    
    html {
        scroll-behavior: smooth;
    }
    
    body {
        margin: var(--header-height) 0 0 0;
        font-family: var(--body-font);
        font-size: var(--normal-font-size);
        font-weight: var(--font-medium);
        background-color: var(--first-color-lighten)!important;
        color: var(--TEXT-color)!important;
        line-height: 1.6;
    }
    
    h1,
    h2,
    h3,
    p {
        margin: 0;
    }
    
    h3 {
        font-weight: var(--font-semi-bold)
    }
    
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    a {
        text-decoration: none;
        color: var(--TEXT-color);
    }
    
    img {
        max-width: 100%;
        height: auto;
        display: block;
    }
    
    .section {
        padding: 4rem 0 2rem;
    }
    
    .section-title {
        font-size: var(--h1-font-size);
        color: var(--first-color);
        margin-bottom: var(--mb-3);
        text-align: center;
    }
    
    .section-subtitle {
        display: block;
        font-size: var(--small-font-size);
        color: var(--first-color-darken);
        text-align: center;
        font-weight: var(--font-bold);
        margin-bottom: .25rem;
    }
    
    .bd-grid {
        max-width: 100%;
        display: grid;
        grid-template-columns: 100%;
        column-gap: 2rem;
        width: calc(100% - 2rem);
        margin-left: var(--mb-2);
        margin-right: var(--mb-2);
    }
    
    .l-header {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: var(--z-fixed);
        background-color: var(--first-color-lighten);
        box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    }
    
    .nav {
        height: var(--header-height);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .nav__menu {
        position: fixed;
        top: 0;
        left: -100%;
        width: 90%;
        height: 100vh;
        padding: 3rem;
        display: flex;
        align-items: center;
        background-color: var(--first-color)!important;
        transition: .5s;
    }
    
    .nav__close {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 2rem;
        color: var(--first-color-dark)!important;
        cursor: pointer;
    }
    
    .nav__item {
        margin-bottom: var(--mb-4);
    }
    
    .nav__link {
        font-size: 1rem;
        text-transform: uppercase;
        color: var(--first-color-lighten);
        font-weight: var(--font-bold);
        transition: .3s;
    }
    
    .nav__link:hover {
        color: var(--TEXT-color);
    }
    
    .nav__toggle {
        color: var(--first-color-dark);
        font-size: 1.3rem;
        cursor: pointer;
    }
    
    .show {
        left: 0;
    }
    
    .active {
        color: var(--TEXT-color);
    }
    
    .home__container {
        height: calc(100vh - var(--header-height));
        align-items: center;
    }
    
    .home__data {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: max-content;
        text-align: center;
    }
    
    .home__img {
        padding-top: 1.3rem;
        padding-left: .8rem;
        width: 160px;
        height: 160px;
        background-color: var(--first-color)!important;
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: var(--mb-2);
    }
    
    .home__img img {
        width: 155px;
        margin-top: -8px;
        margin-left: -3px;
    }
    
    .home__title {
        font-size: var(--h1-font-size);
        color: var(--first-color);
        font-weight: var(--font-semi-bold);
    }
    
    .home__profession {
        font-size: var(--small-font-size);
        color: var(--first-color-dark);
        margin-bottom: var(--mb-5);
    }
    
    .home__social {
        margin-bottom: 5rem;
    }
    
    .home__social-link {
        display: inline-flex;
        background-color: var(--first-color);
        color: var(--first-color-lighten);
        font-size: 1.1rem;
        border-radius: 50%;
        padding: .40rem;
        margin: 0 var(--mb-1);
        transition: .3s;
    }
    
    .home__social-link:hover {
        background-color: var(--first-color-dark);
    }
    
    .home__button {
        width: 100%;
    }
    
    .button {
        display: inline-block;
        background-color: var(--first-color);
        color: var(--first-color-lighten);
        padding: 1rem 2rem;
        font-weight: var(--font-semi-bold);
        border-radius: .5rem;
        transition: .3s;
    }
    
    .button:hover {
        background-color: var(--first-color-dark);
    }
    
    .button__light {
        background-color: var(--first-color-lighten);
        color: var(--first-color);
    }
    
    .button__light:hover {
        color: var(--first-color-lighten);
    }
    
    .about__container {
        row-gap: 2rem;
    }
    
    .about__data {
        text-align: center;
    }
    
    .about__description {
        margin-bottom: var(--mb-4);
    }
    
    .about__img {
        width: 150px;
        border-radius: .5rem;
        margin: 0 auto;
    }
    
    .avout__information {
        margin-bottom: var(--mb-4);
    }
    
    .about__information-title {
        font-size: var(--h3-font-size);
        color: var(--first-color-dark);
        margin-bottom: var(--mb-2);
    }
    
    .about__information-data {
        display: flex;
        align-items: center;
        padding-left: 1.5rem;
        margin-bottom: var(--mb-3);
    }
    
    .about__information-icon {
        font-size: 1.5rem;
        color: var(--first-color);
        margin-right: var(--mb-4);
    }
    
    .about__information-subtitle {
        display: block;
        font-weight: var(--font-semi-bold);
    }
    
    .about__information-subtitle-small {
        font-size: small;
    }
    
    .skills__container {
        row-gap: 2rem;
    }
    
    .skills__subtitle {
        font-size: var(--h3-font-size);
        color: var(--first-color-dark);
        margin-bottom: var(--mb-2);
    }
    
    .skills__data {
        position: relative;
        display: flex;
        justify-content: space-between;
        margin: 0 var(--mb-2);
        margin-bottom: var(--mb-4);
    }
    
    .skills__name {
        text-transform: uppercase;
    }
    
    .skills__bar {
        position: absolute;
        bottom: -.75rem;
        height: .25rem;
        background-color: var(--first-color);
    }
    
    .skills__html {
        width: 80%;
    }
    
    .skills__css {
        width: 80%;
    }
    
    .education__container {
        row-gap: 2rem;
    }
    
    .education__content {
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
    }
    
    .education__year,
    .education__race {
        font-size: var(--h3-font-size);
        margin-bottom: .25rem;
    }
    
    .education__university,
    .education__speciality {
        display: block;
        font-size: var(--smaller-font-size);
    }
    
    .education__year,
    .education__university {
        text-align: right;
    }
    
    .education__time {
        padding: 0 1rem;
        justify-self: center;
    }
    
    .education__rounder {
        position: relative;
        display: inline-block;
        width: 12px;
        height: 12px;
        background-color: var(--first-color);
        border-radius: 50%;
    }
    
    .education__rounder::before {
        content: '';
        position: absolute;
        transform: translate(-4px, -4px);
        width: 20px;
        height: 20px;
        border: 1px solid var(--first-color);
        border-radius: 50%;
    }
    
    .education__line {
        display: block;
        height: 100%;
        width: 2px;
        background-color: var(--first-color);
        transform: translate(5px, -4px);
    }
    
    .services__container {
        row-gap: 2rem;
    }
    
    .services__content {
        padding: 1.5rem .5rem;
        border: 2x solid var(--first-color);
        border-radius: .3rem;
        text-align: center;
    }
    
    .services__icon {
        font-size: 2rem;
        padding: .5rem;
        background-color: var(--first-color);
        color: var(--first-color-lighten);
        border-radius: 50%;
        margin-bottom: var(--mb-2);
    }
    
    .services__title {
        font-size: 1.25rem;
        color: var(--first-color-dark);
        margin-bottom: var(--mb-1);
    }
    
    .services__content,
    .services__icon,
    .services__description,
    .services__title {
        transition: .5s;
    }
    
    .services__content:hover {
        background-color: var(--first-color);
    }
    
    .services__content::hover .services__icon {
        background-color: var(--first-color-lighten);
        color: var(--first-color);
    }
    
    .services__content:hover .services__title {
        color: var(--first-color-lighten);
    }
    
    .services__content:hover .services__description {
        color: var(--first-color-lighten);
    }
    
    .project {
        background-color: var(--first-color);
        padding-bottom: 0;
    }
    
    .project__container {
        row-gap: 2rem;
    }
    
    .project__data {
        text-align: center;
    }
    
    .project__title,
    .project__description {
        color: var(--first-color-lighten)
    }
    
    .project__description {
        margin-bottom: var(--mb-4);
    }
    
    .project__img {
        width: 220px;
        justify-content: center;
        margin: 0 auto;
    }
    
    .works__container {
        justify-items: center;
        row-gap: 2rem;
    }
    
    .works__img {
        position: relative;
        overflow: hidden;
        border-radius: .5rem;
    }
    
    .works__data {
        position: absolute;
        bottom: -100%;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(43, 37, 124, 0.7);
        border-radius: .5rem;
        transition: .3s;
    }
    
    .works__link {
        display: inline-flex;
        font-size: 1.5rem;
        background-color: var(--first-color-lighten);
        color: var(--first-color);
        padding: .25rem;
        margin-bottom: var(--mb-2);
    }
    
    .works__title {
        font-size: var(--h2-font-size);
        color: var(--first-color-lighten);
    }
    
    .works__img:hover .works__data {
        bottom: 0;
    }
    
    .contact__container {
        row-gap: 3rem;
    }
    
    .contact__input {
        width: 100%;
        padding: 1rem;
        outline: none;
        border: none;
        background-color: var(--first-color-light);
        font-size: var(--normal-font-size);
        margin-bottom: var(--mb-2);
        border-radius: .5rem;
    }
    
    .contact ::placeholder {
        color: var(--first-color-dark);
        font-family: var(--body-font);
        font-weight: var(--font-medium);
    }
    
    .contact__button {
        outline: none;
        border: none;
        font-family: var(--body-font);
        font-size: var(--normal-font-size);
        cursor: pointer;
    }
    
    .contact__info {
        margin-bottom: var(--mb-5);
    }
    
    .contact__subtitle {
        font-size: var(--h3-font-size);
        color: var(--first-color-dark);
        margin-bottom: var(--mb-1);
    }
    
    .contact__text {
        display: block;
        padding-left: 1rem;
    }
    
    .footer {
        position: relative;
        width: 100%;
        height: 55vh;
        background: #ffffff;
        overflow: hidden;
        background-color: var(--first-color-darken);
        color: var(--first-color-lighten);
        text-align: center;
    }
    
    .footer__title {
        font-size: var(--h1-font-size);
        margin-bottom: var(--mb-2);
    }
    
    .footer__description {
        margin-bottom: var(--mb-2);
    }
    
    .footer__social {
        margin-bottom: 3rem;
    }
    
    .footer__link {
        display: inline-flex;
        background-color: var(--first-color);
        color: var(--first-color-lighten);
        font-size: 1.1rem;
        border-radius: 50%;
        padding: .40rem;
        margin: 0 var(--mb-1);
        transition: .3s;
    }
    
    .footer__link:hover {
        background-color: var(--first-color-lighten);
        color: var(--first-color);
    }
    
    .footer__copy {
        font-size: var(--smaller-font-size);
        color: var(--TEXT-color);
        margin-bottom: 100px;
    }
    
    @media screen and (min-width: 768px) {
        .home__button {
            width: initial;
        }
        .nav__menu {
            width: var(--nav-width);
        }
        .about__container,
        .skills__container,
        .services__container,
        .works__container,
        .contact__container,
        .contact__input {
            grid-template-columns: repeat(2, 1fr);
        }
        .about__data {
            text-align: initial;
        }
        .about__description {
            margin-bottom: var(--mb-5);
        }
        .about__img {
            width: 220px;
        }
        .about__information {
            padding-left: 4rem;
        }
        .education__time {
            padding: 0 2rem;
        }
        .project {
            background: none;
        }
        .project__container {
            background-color: var(--first-color);
            grid-template-columns: 2fr 1.2fr;
            padding: 0 2rem;
            border-radius: .5rem;
        }
        .project__data {
            padding: 3rem 0;
        }
        .project__title,
        .project__data {
            text-align: initial;
        }
        .project__img {
            width: 230px;
            align-self: flex-end;
        }
        .contact__info {
            display: grid;
            column-gap: 1.5rem;
        }
        .contact__info {
            padding-left: 3rem;
        }
        .footer {
            background: none;
        }
        .footer__container {
            background-color: var(--first-color-darken);
            padding: 3rem 0;
            border-radius: .5rem;
        }
        .exp {
            width: 10px;
            margin: 1px;
        }
        .panjangan {
            margin-left: 100px;
        }
        .tales {
            width: 100%;
        }
        .carousel-item {
            width: 100%;
            max-height: 100%!important;
        }
        .carousel {
            padding: 85px;
            width: 1%;
            margin: auto;
        }
    }
    
    @media screen and (min-width: 1024px) {
        body {
            margin: 0;
            padding-left: var(--nav-width);
        }
        .l-header {
            width: 0;
        }
        .nav__toggle,
        .nav__close {
            display: none;
        }
        .nav__logo {
            margin-right: 1000px;
            margin-bottom: -100px;
        }
        .nav__menu {
            left: 0;
        }
        .home__container {
            height: 100vh;
        }
        .section {
            padding: 3rem 0 2rem;
        }
        .bd-grid {
            margin-left: auto;
            margin-right: auto;
        }
        .services__container,
        .works__container {
            grid-template-columns: repeat(3, 1fr);
        }
        .exp {
            margin: 19.92px;
        }
        .panjangan {
            margin-left: 0;
        }
        .tales {
            width: 100%;
        }
        .carousel-item {
            width: 40%;
            max-height: 100%!important;
        }
        .carousel {
            padding: 85px;
            width: 70%;
            margin-top: -70px;
        }
    }
    
    .typing>* {
        overflow: hidden;
        white-space: nowrap;
        animation: typingAnim 3s steps(30) infinite normal;
        margin-bottom: -2px;
        font-size: 14px;
    }
    
    @keyframes typingAnim {
        from {
            width: 0;
        }
        to {
            width: 100%;
        }
    }
    /* typing animation 2 */
    
    .loader {
        position: relative;
        --webkit-box-reflect: below -20px linear-gradient (transparent, #0002);
    }
    
    .loader::before {
        content: '';
        position: absolute;
        top: 7;
        right: 0;
        width: 2px;
        height: 65%;
        background: var(--TEXT-color);
        animation: udin 10000s steps(3) infinite;
    }
    
    @keyframes udin {
        0%,
        75% {
            opacity: 1;
        }
        76%,
        100% {
            opacity: 0;
        }
    }
    
    .loader h1 {
        position: relative;
        white-space: nowrap;
        animation: typing 3s steps(20) infinite;
        overflow: hidden;
    }
    
    @media screen and (min-width: 20px) {
        @keyframes typing {
            0%,
            90%,
            100% {
                width: 0;
            }
            30%,
            60% {
                width: 155.53px;
            }
        }
    }
    
    @media screen and (min-width: 1024px) {
        @keyframes typing {
            0%,
            90%,
            100% {
                width: 0;
            }
            30%,
            60% {
                width: 237.53px;
            }
        }
    }
    
    .wave {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background: url(../img/wave.png);
        background-size: 1000px 100px;
    }
    
    .wave.wave1 {
        animation: animate 30s linear infinite;
        z-index: 1000;
        opacity: 1;
        animation-delay: 0s;
        bottom: 0;
    }
    
    .wave.wave2 {
        animation: animate2 15s linear infinite;
        z-index: 999;
        opacity: 0.5;
        animation-delay: -5s;
        bottom: 10px;
    }
    
    .wave.wave3 {
        animation: animate 30s linear infinite;
        z-index: 998;
        opacity: 0.2;
        animation-delay: -2s;
        bottom: 15;
    }
    
    .wave.wave4 {
        animation: animate2 5s linear infinite;
        z-index: 997;
        opacity: 0.7;
        animation-delay: -5s;
        bottom: 20px;
    }
    
    @keyframes animate {
        0% {
            background-position-x: 0;
        }
        100% {
            background-position-x: 1000px;
        }
    }
    
    @keyframes animate2 {
        0% {
            background-position-x: 0;
        }
        100% {
            background-position-x: -1000px;
        }
    }
    
    #darkmode {
        --first-color: #2c64cc;
        --first-color-dark: #969697;
        --first-color-darken: #a5a3a3;
        --TEXT-color: #d2d2d3;
        --first-color-light: #202020;
        --first-color-lighten: #1b1b1b;
        --nav-color: #d2d2d3;
    }
    
    .dark-mode {
        --first-color: #2c64cc;
        --first-color-dark: #969697;
        --first-color-darken: #a3a3a5;
        --TEXT-color: #848385;
        --first-color-light: #131313;
        --first-color-lighten: #242424;
    }
    /*     
    input[type="checkbox"] {
        -webkit-appearance: none;
        visibility: ;
        display: none;
    }
    
    .check {
        position: relative;
        display: block;
        width: 40px;
        height: 20px;
        background: #3e0909;
        cursor: pointer;
        border-radius: 20px;
        overflow: hidden;
        transition: ease-in 0.5s;
    }
    
    input[type="checkbox"]:checked~.check {
        background: #fff;
        background-color: red;
        --first-color: #ff3c00;
    }
    
    .check:before {
        content: '';
        position: absolute;
        top: 2px;
        left: 2px;
        background: #fff;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        transition: 0.5s;
    }
    
    input[type="checkbox"]:checked~.check:before {
        transform: translateX(-50px);
    }
    
    .check:after {
        content: '';
        position: absolute;
        top: 2px;
        right: 2px;
        background: #092c3e;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        transition: 0.5s;
        transform: translateX(50px);
    }
    
    input[type="checkbox"]:checked~.check:after {
        transform: translateX(0px);
    }
    
    .mode {
        position: static;
    } */
    
    .warna,
    .mode {
        --nav-color: #1818da;
    }
    
    .body #particles-js {
        height: 1100%;
        margin-top: 10px;
    }
    
    .icon1 {
        background-image: url('../img/dark-mode.png');
    }
    
    .icon2 {
        background-image: url('../img/light-mode.png');
    }
    
    .size {
        height: 30px;
    }
    
    .card-text {
        text-align: center;
        margin-bottom: -100px;
        padding: 10px;
    }
    
    .container-fluid {
        margin-left: -1000px;
    }